# SMTP Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=password
RECEIVER_EMAIL=your_email@example.com              # Supports comma-separated for multiple: a@x.com,b@x.com
CC_EMAIL=                                           # Optional CC recipient(s), comma-separated
BCC_EMAIL=                                          # Optional BCC recipient(s), comma-separated

# Google reCAPTCHA Keys
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Google Map API
NEXT_PUBLIC_GOOGLE_MAP_API=YOUR_API_KEY