# SMTP Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASSWORD=password
RECEIVER_EMAIL=your_email@example.com

# Google reCAPTCHA Keys
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Google Map API
NEXT_PUBLIC_GOOGLE_MAP_API=YOUR_API_KEY