# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
.next/
out/
public/data/_local_catalogues.json

# misc
.DS_Store
.env.local
.env.development.local
.env.production.local
.env.test.local
